# Материалы курса контролируют ответственный преподаватель и команда администраторов
* @r3m4k @mephi-18kpu/admins

# Изменение правил владения кодом контролирует команда администраторов
/.github/CODEOWNERS @mephi-18kpu/admins
